<ng-container *ngIf="partSequence">
    <ng-container *ngFor="let part of partSequence">
        <ng-container [ngSwitch]="part">
            <input
                *ngSwitchCase="'day'"
                #dayInput
                (blur)="onBlur()"
                (click)="onInputClicked($event)"
                (input)="onInput(part, $event.target)"
                type="text"
                pattern="\d*" />
            <input
                *ngSwitchCase="'month'"
                #monthInput
                (blur)="onBlur()"
                (click)="onInputClicked($event)"
                (input)="onInput(part, $event.target)"
                type="text"
                pattern="\d*" />
            <input
                *ngSwitchCase="'year'"
                #yearInput
                (blur)="onBlur()"
                (click)="onInputClicked($event)"
                (input)="onInput(part, $event.target)"
                type="text"
                pattern="\d*"  />
            <span *ngSwitchDefault>{{part}}</span>
        </ng-container>
    </ng-container>
</ng-container>