<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.florian_lentsch.expirysync"
    android:versionCode="4"
    android:versionName="0.7" 
    android:theme="@style/Theme.AppCompat.Light"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
				<receiver android:name=".Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver  android:process=":remote" android:name="NotifyChecker"></receiver>

        <activity
            android:name=".ProductListActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
            <intent-filter  android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" >
        </activity>
        <activity
            android:name=".AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ProductListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.ProductListActivity" />
        </activity>
        <activity
            android:name=".EditProductActivity"
            android:label="@string/title_activity_edit_product"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ProductListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.ProductListActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:parentActivityName=".ProductListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.ProductListActivity" />
        </activity>
        <activity
            android:name=".ScanBarcodeActivity"
            android:parentActivityName=".EditProductActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.EditProductActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ProductListActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.ProductListActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".RegistrationActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.florian_lentsch.expirysync.ProductListActivity" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest>