#about {
  h2 {
    font-size: bold;
    font-size: 2.2rem;
  }
  h2::first-letter {
    text-transform: uppercase;
  }

  ion-item.app {
    background: url(/assets/android_icons/drawable-xxhdpi/icon.png) no-repeat right 30px;
  }

  .info {
    > .label {
      display:block;
      font-weight: bold;
      margin: 20px 0px 5px 0px;
      white-space: normal;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    > .value {
      white-space: normal;
      margin-bottom: 10px;
      display:block;
    }

    .none {
      font-style: italic;
    }
  }
}
