<ion-header>
  <ion-toolbar>
    <ion-title translate>settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="settings">
  <ion-list>
    <ng-container *ngFor="let setting of settings">
      <ng-container *ngIf="setting.editable">
        <ion-item *ngIf="setting.settingConfig.editComponent" [disabled]="setting.settingConfig.disabled" (click)="settingTapped($event, setting)">
          <div>
            <div class="item-left">
              <setting-label [setting]="setting"></setting-label>
            </div>
            <div class="item-note" *ngIf="!setting.settingConfig.choices">{{setting.value}}</div>
            <div class="item-note" *ngIf="setting.settingConfig.choices">
              {{getChoiceLabel(setting)}}
            </div>
          </div>
        </ion-item>
        <ion-item *ngIf="setting.settingConfig.inlineEditableBoolean" [disabled]="setting.settingConfig.disabled">
          <ion-label><setting-label [setting]="setting"></setting-label></ion-label>
          <ion-checkbox [checked]="setting.value == '1'" (ionChange)="booleanValueChanged(setting, $event)"></ion-checkbox>
        </ion-item>
        <ion-item class="time" *ngIf="setting.settingConfig.timeButton" [disabled]="setting.settingConfig.disabled">
          <ion-label><setting-label [setting]="setting"></setting-label></ion-label>
          <ion-datetime displayFormat="H:mm" pickerFormat="H mm"
            [(ngModel)]="setting.value"
            (ionChange)="timeValueChanged(setting)"
            [cancelText]="'cancel' | translate"
            [doneText]="'done' | translate"
            required>
          </ion-datetime>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
