ion-content#settings {
  .item-note, .datetime-text {
    color: var(--ion-color-medium);
  }

  .item-note, .item-left {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ion-item.time {
    .item-inner {
      display:block;
      .input-wrapper {
        .label {
          color: var(--ion-color-dark);
          margin-bottom: 0px;
        }

        display:block;
        ion-datetime {
          margin: 2px 0px 10px 0px;
          padding:0;
        }
      }
    }
  }
}
