<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android" >
    <at.florian_lentsch.expirysync.settings.IntEditTextPreference
        android:defaultValue="-1"
        android:dialogTitle="@string/days_before_medium"
        android:inputType="numberSigned"
        android:key="pref_key_days_before_medium"
        android:title="@string/days_before_medium" />
    
    <at.florian_lentsch.expirysync.settings.IntEditTextPreference
        android:defaultValue="-3"
        android:dialogTitle="@string/days_before_bad"
        android:inputType="numberSigned"
        android:key="pref_key_days_before_bad"
        android:title="@string/days_before_bad" />

    <at.florian_lentsch.expirysync.settings.TimePreference
        android:defaultValue="50400000"
        android:dialogTitle="@string/alert_time"
        android:inputType="numberSigned"
        android:key="pref_key_alert_time"
        android:title="@string/alert_time" />
    
    <CheckBoxPreference
        android:defaultValue="false"
        android:dialogTitle="@string/stay_in_offline_mode"
        android:key="pref_key_offline_mode"
        android:title="@string/stay_in_offline_mode" />
    <EditTextPreference
        android:defaultValue="http://www.google.com/#q="
        android:dialogTitle="@string/search_url"
        android:key="pref_key_search_url"
        android:title="@string/search_url" />    
    <EditTextPreference
        android:defaultValue="https://nameless-oasis-2639.herokuapp.com/"
        android:dialogTitle="@string/host"
        android:key="pref_key_host"
        android:title="@string/host" />
</PreferenceScreen>
