#!/usr/bin/env ruby

require 'open3'
require 'bundler'	

# Take care: This will also stop any existing test server instances:
cmd = <<-END_CMD.gsub(/\n/,"; ")
cd /path-to-rails-server
if [ -f tmp/pids/server.pid ]; then kill -s 9 `cat tmp/pids/server.pid`; fi
RAILS_ENV=test
export RAILS_ENV
rvm `cat .ruby-version`@`cat .ruby-gemset` do bundle exec rails s -e test -d
END_CMD

exit_status = nil
Bundler.with_clean_env do
	Open3.popen3(cmd) do |stdin, stdout, stderr, waith_thr|
		exit_status = waith_thr.value
	end
end

puts exit_status == 0 ? "Server started" : "Error starting server"