#!/usr/bin/env ruby

require 'open3'

cmd = <<-END_CMD.gsub(/\n/,"; ")
cd /path-to-rails-server
if [ -f tmp/pids/server.pid ]; then kill -s 9 `cat tmp/pids/server.pid`; fi
END_CMD
	
exit_status = nil
Open3.popen3(cmd) do |stdin, stdout, stderr, waith_thr|
	exit_status = waith_thr.value
end

puts exit_status == 0 ? "Server stopped" : "Error stopping server"