<ion-header id="product-entries-header">
  <ion-navbar *ngIf="!showFilter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="locations">
      <ion-item>
        <ion-label translate>location</ion-label>
        <ion-select 
            [(ngModel)]="selectedLocationId" 
            (ionChange)="locationSwitched()"
            [class.no-location-selected]="!selectedLocation">
          <ion-option *ngIf="locations?.length > 1" [value]="''" translate>All locations</ion-option>
          <ng-container *ngFor="let location of locations">
            <ion-option [value]="location.id">{{location.name}}</ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-title>
    <ion-buttons *ngIf="productEntries" start>
      <button *ngIf="selectedLocation" ion-button (click)="openEntryForm()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button [disabled]="productEntries.selected.length == 0" ion-button (click)="deleteAllTapped()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button (click)="toggleSearchTapped()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="filter-bar" *ngIf="showFilter">
    <button class="close-btn" (click)="toggleSearchTapped()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-item>
      <ion-input [(ngModel)]="productEntries.filterValue" (keyup)="showListAndFilters()" maxlength="255" #filterField></ion-input>
    </ion-item>
    <button class="clear-btn" *ngIf="productEntries.filterValue != ''" (click)="clearFilterValue()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content (window:resize)="enableDisableMenuPoints($event)" id="product-entries" scroll="false">
  <div id="wrapper">
    <div id="product-entries-list-header">
      <div id="list-sorters" [class.sort-ascending]="productEntries.sortAscending" *ngIf="productEntries.length > 0">
        <span class="product-entry-selection">
          <ion-checkbox [(ngModel)]="productEntries.allSelected"></ion-checkbox>
        </span>
        <span class="amount" [class.active]="productEntries.sortBy == 'amount'" (click)="sortTapped('amount')" translate>Σ</span>
        <span class="name" [class.active]="productEntries.sortBy == 'name'" (click)="sortTapped('name')" translate>name</span>
        <span class="creation" [class.active]="productEntries.sortBy == 'creator'" (click)="sortTapped('creator')" translate>owner</span>
        <span class="location"  *ngIf="!selectedLocation" [class.active]="productEntries.sortBy == 'location'" (click)="sortTapped('location')" translate>location</span>
        <span class="expiration" [class.active]="productEntries.sortBy == 'expirationDate'" (click)="sortTapped('expirationDate')" translate>expiration date</span>
      </div>
    </div>
    <div id="list-wrapper">
      <ion-list [class.filtered-by-location]="selectedLocation" #productEntriesList>
        <ion-item-sliding #slidingItem *ngFor="let productEntry of productEntries">
          <ion-item 
              *ngIf="loadingAfterLocationSwitchDone"
              [class.activated]="productEntry.selected" 
              [class.gone-bad]="productEntry.goneBad" 
              [class.gone-medium]="!productEntry.goneBad && productEntry.goneMedium" 
              (click)="openEntryForm(productEntry)">
            <span (click)="productEntryCheckboxTapped($event,productEntry)" class="product-entry-selection">
              <input [checked]="productEntry.selected" type="checkbox" />
            </span>
            <span 
                [@addRemoveAnimation]="productEntry.addRemoveAnimation" 
                (@addRemoveAnimation.done)="productEntry.addRemoveAnimation = 'normal'"
                class="amount">
              {{productEntry.amount}}
            </span>
            <span class="name" 
              ellipsis
              ellipsis-resize-detection="window"
              [ellipsis-content]="productEntry.article.name"></span>
            <span class="creation" [class.free-to-take]="productEntry.freeToTake">
              <ion-icon class="icon" name="share" *ngIf="productEntry.freeToTake"></ion-icon>
              <span class="label" translate>owner</span>
              <span class="creator">
                <ng-container *ngIf="productEntry.creator.id == currentUser.id" translate>you</ng-container>
                <ng-container *ngIf="productEntry.creator.id != currentUser.id">{{productEntry.creator.userName | ellipsis:25}}</ng-container>
                <ng-container *ngIf="productEntry.freeToTake">: </ng-container>
              </span>
              <span class="invitation" *ngIf="productEntry.freeToTake" translate>"Free for all!"</span>
            </span>
            <span *ngIf="!selectedLocation" class="location">
              <span class="label" translate>location</span>
              <span class="location-name">{{productEntry.location.name | ellipsis:25}}</span>
            </span>
            <span class="expiration">
              <span class="label" translate>expiration date</span>
              <span class="expiration-date">{{productEntry.expirationDate | amDateFormat:'l'}}</span>
            </span>
          </ion-item>
          <ion-item-options side="left" (ionSwipe)="productEntrySwipedLeft(productEntry)">
          </ion-item-options>
          <ion-item-options side="right" (ionSwipe)="productEntrySwipedRight(productEntry)">
          </ion-item-options>
        </ion-item-sliding>
        <ion-item class="no-products" *ngIf="productEntries.length == 0 && loadingAfterLocationSwitchDone">
          <span class="label" *ngIf="productEntries.filterValue == ''" translate>There aren't any products in the list.</span>
          <span class="label" *ngIf="productEntries.filterValue != ''" translate>There are no products matching your search.</span>
          <button *ngIf="selectedLocation" ion-button (click)="openEntryForm()" translate>Add one now</button>
        </ion-item>
        <ion-item class="no-products" *ngIf="!loadingAfterLocationSwitchDone">
          <span class="label" translate>Please wait...</span>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
