#!/usr/bin/env ruby

require 'open3'

cmd = <<-END_CMD.gsub(/\n/,"; ")
killall gst-launch-0.10
gst-launch-0.10 -v multifilesrc location=/path-to-android-project/features/support/webcam_images/#{ARGV[0]}.png loop=1 caps="image/png,framerate=30/1" ! pngdec ! ffmpegcolorspace ! "video/x-raw-yuv,format=(fourcc)YUY2" ! videorate ! v4l2sink device=/dev/video0
END_CMD

pipeIn, pipeOut = IO.pipe
  
fork do
	Open3.popen3(cmd) do |stdin, stdout, stderr|
	  loop do
	    line = stdout.readline
	    puts "Line: #{line}"
	    if line.match(/New clock\: GstSystemClock/)
	      pipeOut.write "Webcam emulation started\n"
	      break
	    end
	  end
	  exit!(0)
	end
end

puts pipeIn.readline