ion-content#alternate-servers {
  #wrapper {
    display:flex;
    flex-direction: column;
    height:100%;
    margin:0;
  }

  .introduction {
    padding:15px;
    border-bottom: 1px solid #ccc;
  }

  #list-wrapper {
    flex:1;
    overflow-y:scroll;
  }

  ion-item {
    cursor: pointer;
    .name, .description {
      white-space: normal;
      margin: 5px;
    }

    .name {
      font-weight: bold;
    }
  }

  #privacy-statement {
    font-weight: bold;
    height: 50px;
    display: block;
    padding-top: 15px;
    text-align: center;
  }
}
