<ion-header>
  <ion-toolbar>
    <ion-title translate>registration</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="user-registration" *ngIf="user">
  <form #registrationForm="ngForm" class="list" (ngSubmit)="register(registrationForm.valid)" novalidate>
    <ion-item [class.server-validation-error]="serverValidationErrors.username">
      <ion-label stacked translate>user name</ion-label>
      <ion-input 
        required 
        [(ngModel)]="user.userName" 
        name="userName" 
        #userName="ngModel"
        autocorrect="off" 
        autocapitalize="none"></ion-input>
    </ion-item>
    <div *ngIf="userName.errors && (userName.dirty || userName.touched)"
           class="validation-error">
          <div [hidden]="!userName.errors.required" translate>User name is required.</div>
    </div>
    <ng-container *ngIf="serverValidationErrors.username">
      <ng-container *ngFor="let serverValidationError of serverValidationErrors.username">
        <div class="validation-error">{{serverValidationError}}</div>
      </ng-container>
    </ng-container>
    <ion-item  [class.server-validation-error]="serverValidationErrors.email">
      <ion-label stacked translate>email</ion-label>
      <ion-input 
        [(ngModel)]="user.email" 
        name="email" 
        #email="ngModel" 
        [placeholder]="'optional' | translate" 
        type="email"></ion-input>
    </ion-item>
    <ng-container *ngIf="serverValidationErrors.email">
      <ng-container *ngFor="let serverValidationError of serverValidationErrors.email">
        <div class="validation-error">{{serverValidationError}}</div>
      </ng-container>
    </ng-container>
    <ion-item [class.server-validation-error]="serverValidationErrors.password">
      <ion-label stacked translate>password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" #password="ngModel"></ion-input>
    </ion-item>
    <ng-container *ngIf="serverValidationErrors.password">
      <ng-container *ngFor="let serverValidationError of serverValidationErrors.password">
        <div class="validation-error">{{serverValidationError}}</div>
      </ng-container>
    </ng-container>
    <button ion-button type="submit" full translate>register</button>
    
    <div class="other-options">
      <div class="label" translate>You already have an account?</div>
      <button ion-button type="button" (click)="loginInsteadTapped()" translate>login instead</button>
      <div class="label" translate>You don't want to synchronize with a server?</div>
      <button ion-button type="button" (click)="dismiss()" translate>offline mode</button>
    </div>
  </form>
</ion-content>
