<ion-header>
  <ion-toolbar *ngIf="productEntries">
    <ion-title translate>move products to another location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-select [(ngModel)]="selectedLocationId">
    <ng-container *ngFor="let location of locations">
      <ion-select-option [value]="location.id">{{location.name}}</ion-select-option>
    </ng-container>
  </ion-select>
  <ion-button (click)="move()" expand="full" translate>move</ion-button>
</ion-content>