<ion-header>
  <ion-toolbar>
    <ion-title translate>recipe search</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="recipe-search">
  <div class="introduction" translate>To avoid your search being too fuzzy, please remove superflous keywords (like company names or quantities) by tapping them before tapping the 'Search' button below:</div>
  <div class="keywords-container" *ngIf="keywords">
    <span class="keyword" [class.active]="keyword.active" *ngFor="let keyword of keywords" (click)="keywordTapped(keyword)">
      {{keyword.text}}
    </span>
  </div>
  <div class="select-helpers">
    <button ion-button icon-left [disabled]="activeKeywords.length == 0" (click)="selectAll(false)" translate>
      <ion-icon name="checkbox-outline"></ion-icon>
      deselect all
    </button>
    <button ion-button icon-left [disabled]="activeKeywords.length == keywords.length" (click)="selectAll()" translate>
      <ion-icon name="done-all"></ion-icon>
      select all
    </button>
  </div>
  <button ion-button [disabled]="activeKeywords.length == 0" (click)="searchTapped()" full translate>search</button>
</ion-content>
